.projects {
    display: grid;
    grid-template-columns: 1fr fr;
    gap: 3rem;
}

.project {
text-align: center;
    background-color: white;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.project a {
    color: #3498db;
    text-decoration: none;
    font-size: 30px;
}

.project a:hover {
    text-decoration: underline;
}
